# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
src/main/generated/

# macOS
.DS_Store

# Spring Boot
application-local.properties
application-local.yml
application-local.yaml
application-secret.properties
application-secret.yml

# Secrets / credentials
*.env
.env
*.pem
*.key

# Compiled
*.class

*.mv.db
*.trace.db
